*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222222;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    padding: 2rem;
    max-width: 700px;
    background-color: #333;
    border-radius: 10px;
}
main > h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}
main #search-form{
display: flex;


}
img {
    width: 100px;
}
main #search-form imput {
    flex: 1;
    height: 50px;
    border-radius: 5px;
    border: none;
}
main #search-form-input{
  width: 100%;
}
main #search-form button{
    background-color: blue;
    color: azure;
    border: 0ex;
    padding: 0.4rem 1rem;
    border-radius: 5px;
}
main #tempo-info{
    display: flex;
    align-items: center;
    justify-content: space-between;

}